name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    # Step to get the next semantic version
    - name: Auto Increment Semver Action
      id: semver
      uses: MCKanpolat/auto-semver-action@v2
      with:
        releaseType: patch  # can be major, minor, patch - choose based on your policy
        incrementPerCommit: false
        github_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile
        push: true
        tags: |
          ghcr.io/${{ github.repository }}:${{ steps.semver.outputs.version }}
          ghcr.io/${{ github.repository }}:latest
